@{
    ViewData["Title"] = "Secret Hitler";
}

<div class="text-center">
    <h1 class="display-1" >Secret</h1>
    <h1 class="display-1" >Hitler</h1>

    <div>
        <a class="" asp-controller="WaitingRoom" asp-action="NewGame">New Game</a>
        <a class="" asp-controller="WaitingRoom" asp-action="ListGames">Join Game</a>
    </div>
</div>
