@{
    ViewData["Title"] = "Splendor";

}

<div class="text-center container mt-6  
            mt-xl-5">
    <h1 class="col-12 splendorHeading" >Splendor</h1>

    <div id="HomeButtons" class="mt-8 mx-auto 
                                    mt-xl-7">
        <a class="col-12 mt-10 btn btn-outline-purple
                        col-lg-4 mt-lg-9 mx-lg-5
                        mt-xl-7" asp-controller="WaitingRoom" asp-action="NewGame">New Game</a>
        <a class="col-12 mt-3 btn btn-outline-darkPurple
                        col-lg-4 mt-lg-9 mx-lg-5
                        mt-xl-7" asp-controller="WaitingRoom" asp-action="ListGames">Join Game</a>
    </div>
</div>
