@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Splendor</h1>

    <button>New Game</button>
    <button>Join Game</button>
    <br/><br/>
    <a id="mock_game" asp-controller="Game" asp-action="Index">Goto Game</a>
</div>
