@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Splendor.Models.IPotentialGame>
@{
    ViewData["Title"] = "Join Game";
}
<script>
    function enterRoom(gameId) {
        var form = document.getElementById('player-info');
        if (!form.elements["playerName"].checkValidity())
        {
            form.elements["playerName"].reportValidity();
            return false;
        }
        form.elements["gameId"].value = gameId;
        return true;
    }
</script>




<div>

    <h1 class="text-center display-1 mt-3">Join Game</h1>
    <div class="mx-auto mt-7" style="max-width: 75rem;">
        <form id="player-info" action="/WaitingRoom/EnterGame">


            <div style="width: 80%;" class="mx-auto">
                <label class="fs-3" for="playerName">Please enter your Name: </label>
            </div>
            <div class="text-center">
                <input class="mx-auto" type="text" id="playerName" name="playerName" maxlength="20" autocomplete="off" required autofocus>
            </div>

            <div class="mx-auto mt-5 container row p-0">
                <!-- Available Games -->
                <div class="col-12 p-0
                            col-lg-6 mt-lg-3" >
                    <h5 class="mx-auto fs-3" style="width: 80%">Available Games To Join</h5>
                    <table class="mx-auto" style="width: 80%">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr style="width: 80%">
                            <td class="text-start mt-3">@Model[i].CreatingPlayerName</td>
                            <td class="text-end mt-3"><input id="@Model[i].Id" type="submit" onclick="return enterRoom('@Model[i].Id');" class="btn-outline-purple btn" value="Join Game"></td>
                        </tr>
                    }
                    </table>
                </div>

                <!-- Enter Game Id -->
                <div class="col-12 mt-7 p-0
                            col-lg-6 mt-lg-3">
                    <div class="mx-auto" style="width: 80%">
                        <label class="fs-3" for="gameId">Enter Game Id: </label>
                    </div>
                    <div class="text-center">
                        <input class="mx-auto" type="text" id="gameId" name="gameId" maxlength="20" autocomplete="off" required>
                    </div>
                    <div class="text-end mx-auto mt-3" style="width: 80%">
                        <input class="btn-outline-purple btn" style="width: 40%; max-width: 20rem;" type="submit" value="Join Game">
                   </div>
                </div>
            </div>
            
        </form>
        
    </div>
</div>















@if (TempData["message"] != null)
{
    <script>
        alert('@TempData["message"]')
    </script>
}