
:root {
    --purple: rgb(110, 10, 150);
    --darkPurple: rgba(60, 0, 90);
    --purpleOpacity: rgba(80, 0, 120, 0.5);
}



html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}



body {
    background-color: #191919;
    color: white;
    margin-bottom: 60px;
}


.btn-outline-purple {
    color: var(--purple);
    border-color: var(--purple);
}
.btn-outline-purple:hover {
    color: #fff;
    background-color: var(--purple);
    border-color: var(--purple);
}
.btn-outline-purple:focus {
    box-shadow: 0 0 0 0.25rem var(--purpleOpacity);
}

.btn-purple {
    color: white;
    background-color: var(--purple);
}
.btn-purple:hover {
    color: white;   
    background-color: var(--darkPurple);
}
.btn-purple:focus {
    box-shadow: 0 0 0 0.25rem var(--purpleOpacity);
}

.OverlayScreen {
    display: none;
    opacity: 1;
    background: rgb(23, 23, 23);
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
}

.card {
    border: 2px solid gray;
    border-radius: 7.5%;
}


.token {
    position: relative;
    text-align: center;
    color: white;
}
.token h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.takingToken {
    opacity: 0;
    position: relative;
    text-align: center;
    color: white;
}

.takingToken h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.mt-10 {
    margin-top: 15rem;
}
.mt-9 {
    margin-top: 14rem;
}
.mt-8 {
    margin-top: 12rem;
}
@media (min-width: 576px) {
    .mt-sm-9 {
        margin-top: 14rem;
    }
}
@media (min-width: 768px) {
    .mt-md-7 {
        margin-top: 10rem;
    }
}
