body {
    background-color: rgb(23, 23, 23);
}
canvas {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button {
    height: 50px;
    width: 80px;
}
#mobileUI {
    visibility: hidden;
    position: absolute; 
    width: 95%; 
    bottom: 20%; 
}
@media screen and (max-width: 768px) {
    #mobileUI {
        position: absolute; 
        width: 95%; 
        bottom: 20%; 
        visibility: visible;
    }
}