@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model SecretHitler.Models.IPotentialGame
@{
    ViewData["Title"] = "Create New Game";
}


<div class="mt-5">

    <h1 class="display-1 mb-5 text-center">Create New Game</h1>


    <form class="mt-7 mx-auto" style="max-width: 75rem;">
  
        <div style="width: 80%;" class="mx-auto">
            <label class="fs-3" for="playerName">Please enter your Name: </label>
        </div>
        <div class="text-center">
            <input class="mx-auto" type="text" id="playerName" name="playerName" maxlength="20" autocomplete="off" required autofocus>
        </div>
      <br><br>

      <div class="text-end mx-auto" style="width: 80%">
            <input class="btn-outline-purple btn" style="width: 40%; max-width: 20rem;"  asp-action="NewGameInfo" asp-controller="WaitingRoom" type="submit" value="Create Game">
      </div>
    </form>

</div>
